// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

// overall color palette of the project
$charcoal: #454545;
$safety-orange: #ff6000;
$rajah-orange: #ffa559;
$bisque-orange: #ffe6c7;
$white-smoke: #faf5f5;
$maire: #291e00;

// buttons colors
$hawkes-blue: #c7e0ff;
$black: #000000;
$white: #ffffff;
$link-water: #BFC3CF;
$dark-link-water: #9fa2ac;

$hawkes-gray: #DEE0E7;
$dark-hawkes-gray: #a6a7ac;

// icons colors
$icon-color: #7D848F;
