
<div class="container">
  <h4 class="mt-3"> You have <strong><%= @chatrooms.count %></strong>  Messages</h4>

  <% @chatrooms.each do |chatroom| %>
    <div class="notification message-2 mb-2">

      <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
      <div class="notification-content">
        <p><small><%= chatroom.other(current_user).user_name %></small></p>

        <p>last message</p>
      </div>

      <div class="notification-actions">
        <%= link_to chatroom_path(chatroom) do %>
          <i class='fa-solid fa-chevron-right'></i>
        <% end %>
      </div>
    </div>

  <% end %>

</div>
