<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_2.png" %>
    <% end %>

    <div class="d-flex align-items-center gap-2">
      <% if user_signed_in? %>

        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar", alt: "dropdown menu" %>
        <% else %>
            <img class="avatar" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" alt="Change your image">
        <% end %>
        <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
</div>
