
  <div class="navbarfooter navbar-expand-lg navbar-light bg-light jstify-content-center">

      <div class="navbarfooter-links">
        <%= link_to "/dashboard", class: 'nav-link active' do  %>
          <i class="fa-solid fa-user navbar-icon"></i>
        <% end %>
      </div>


      <%# we can make desicion which icon is better ? %>
      <div class="navbarfooter-links">
          <%= link_to "/find-buddies", class: 'nav-link active' do  %>
           <i class="fa-solid fa-user-group navbar-icon"></i>
          <% end %>
      </div>



      <div class="navbarfooter-links">
        <%= link_to "/chatrooms", class: 'nav-link active' do  %>
          <i class="fa-solid fa-comment-dots navbar-icon"></i>
        <% end %>
      </div>
    </div>
  </div>
