<div class="footer">
  <div class="footer-links">
    <%= link_to "/chatrooms/:id", class: 'nav-link active' do  %>
    <i class="fa-solid fa-comment-dots"></i>
    <% end %>

    <%= link_to "/chatrooms/:id", class: 'nav-link active' do  %>
    <i class="fa-solid fa-location-crosshairs"></i>
    <% end %>

    <%= link_to "/chatrooms/:id", class: 'nav-link active' do  %>
    <i class="fa-solid fa-user"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
