
  <div class="navbarfooter navbar-expand-lg navbar-light bg-light jstify-content-center">

      <div class="navbarfooter-links">
        <%= link_to "/profile", class: 'nav-link active' do  %>
        <i class="fa-solid fa-user"></i>
        <% end %>
      </div>

      <div class="navbarfooter-links">
        <%= link_to "/", class: 'nav-link active' do  %>
        <i class="fa-solid fa-location-crosshairs"></i>
        <% end %>
      </div>

      <div class="navbarfooter-links">
        <%= link_to "/chatrooms", class: 'nav-link active' do  %>
        <i class="fa-solid fa-comment-dots"></i>
        <% end %>
      </div>
    </div>
  </div>
