
<body class="home-bg">
  <div class="home-content">
    <div></div>

    <div class="home-text">
      <h1 class="custom-hobby-buddy">Hobby Buddy</h1>
      <p class="custom-paragraph"> Connect with people who have same interests and hobbies
      </p>
    </div>

    <%= link_to "Let's go!", profile_path, class: "btn-primary" %>
  </div>
</body>
