<div class="container">
  <div class="profile-image-container">
    <img class="profile-image" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" alt="Change your image">
    <i class="plus-image fa-solid fa-circle-plus"></i>
  </div>
  <h5 class="profile-name"><%= @user.user_name.capitalize %></h5>
</div>
