.btn-primary {
  text-decoration: none;
  border: 1px solid $safety-orange;
  color: $white;
  background-color: $safety-orange;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // max-height: 31px;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 1;
  }
}

.button-1 {
  text-decoration: none;
  margin-top: 2px;
  max-height: 31px;
  border: 1px solid $safety-orange;
  color: $maire;
  background-color: $white;
  padding: 4px 8px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.button-find-buddies {
  text-decoration: none;
  max-height: 31px;
  border: 1px solid $safety-orange;
  color: $maire;
  background-color: $white;
  padding: 3px 8px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.button-2 {
  text-decoration: none;
  color: $black;
  background-color: $hawkes-blue;
  border: 1px solid $black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.button-3 {
  text-decoration: none;
  color: $maire;
  background-color: $white;
  border: 1px solid $safety-orange;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
  }
}

.interest-button {
  text-decoration: none;
  color: $link-water;
  background-color: $white;
  border: 2px solid $hawkes-gray;
  padding: 6px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  &:hover {
    color: $dark-link-water;
    border: 1px solid $dark-hawkes-gray;
    opacity: 1;
  }
}

.interest-button-selected {
  color: $safety-orange;
  border-color: $safety-orange;

  &:hover {
    color: $safety-orange;
    border-color: $safety-orange;
    opacity: 1;
  }
}

.sticky-button {
  position: sticky;
  bottom: 40px;
  z-index: 1000;
}
.sticky-button1 {
  position: sticky;
  bottom: 70px;
  z-index: 1000;
}

.add-button {
  position: sticky;
  bottom: 70px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgba(191, 195, 207, 0.9);

  // border-radius: 50%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: white;
    opacity: 1;
  }
}
