// new home page css
.home-bg {
  background-image: url('https://images.pexels.com/photos/3097297/pexels-photo-3097297.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: 39%;

}

.home-text {
  text-align: center;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.custom-paragraph {
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-hobby-buddy {
  font-size: 35px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
