.navbarfooter {
  background: #b9c1d3;
  position: absolute, sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0px 50px;
  color: #FFA559;
  margin-top: auto;
  position: sticky;
  bottom: 0px;
  z-index: 900;
}
.navbarfooter-links {
  display: flex;
  align-items: center;
  padding: 0px 25px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.navbar-icon {
  color: #5c5a5a;
  font-size: 24px;
}
