.navbarfooter {
  background: #b9c1d3;
  position: absolute, sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  margin-top: auto; /* Push the footer to the bottom */

}
.navbarfooter-links {
  display: flex;
  align-items: center;
  padding: 0px 25px;}


body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
