.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  margin-left: 10px;
}

.nav-item {
  margin-right: 20px;
  padding-right: 20px;
}
