.plus-icon {
  color: rgb(220, 180, 37);
  position: absolute;
  right: 607px;
  top: 252px;
  transform: translate(50%, 50%);
  font-size: 40px;
}

.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  object-fit: cover;
  align-items: center;
}

.profile-name {
  align-items: end;
  font-size: 30px;
  margin-bottom: 20px;
}

.user-infos {
  background-color: white;
  position: relative;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 8px 20px 25px 20px;
}

.photo-button {
  color: rgb(220, 180, 37);
  // position: absolute;
  font-size: 40px;
}

.photo-button-form {
  position: relative;
}

.photo-button {
  position: absolute;
  bottom: 45px;
  background: #ff6000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  margin: 0;
  right: 60px;
}

.edit-icon-div {
  // display: flex;
  position: absolute;
  // justify-content: flex-end;
  bottom: 10px;
  right: 15px;
}

.edit-icon {
  // position: absolute;
  // bottom: -100px;
  // right: 5px;
  &:hover {
    color: $dark-link-water;
    opacity: 1;
  }
}
