.hide {
  opacity: 0;
}

.profiles-all {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 1;
  transition: opacity 0.1s ease-in-out;
}

.floating-icon {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  pointer-events: none;
  z-index: 90;
}

.floating-icon i {
  font-size: 100px;
  transform: scale(0.8);
  // transition: all 0.1s ease-in-out;
  position: absolute;
  width: 100px;
  margin-left: -50px;
  opacity: 0.8;
}

.floating-icon .gone {
  opacity: 0;
}

.floating-icon .heart {
  color: #FFA559;
}

.floating-icon .nope {
  color: #454545;
}

// .float_love .fa-heart {
//   opacity: 0.7;
//   transform: scale(1);
// }

// .float_no .fa-remove {
//   opacity: 0.7;
//   transform: scale(1);
// }

.profile-cards {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.profile-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  align-items: center;
  margin: 20px 20px 20px 20px;
}

.img-card {
  height: 300px;
  width: 90%;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin: 16px 16px 16px 16px;
}

.single-card {
  display: inline-block;
  width: 100vw;
  max-width: 400px;
  height: 85vh;
  background: #ffffff;
  overflow: auto;
  position: absolute;
  will-change: transform;
  // transition: all 0.3s ease-in-out;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
  margin: 14.5vh;
  touch-action: pan-y !important;
  padding: 10px;
  // margin-top: 14.5vh;
}

.moving.single {
  transition: none;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.loaded.profiles-all {
  opacity: 1;
}

.see-details {
  width: 100%;
}

.see-details-infos {
  font-size: 15px;
  text-align: justify;
  background-color: white;
  width: 100%;
  min-height: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

}


.swal2-popup, .swal2-title {
  font-family: "Ubuntu", "Helvetica", "sans-serif";
}

.swal2-confirm {
  text-decoration: none;
  border: 1px solid $safety-orange !important;
  color: $white;
  background-color: $safety-orange !important;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  // max-height: 31px;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 1;
  }
}
